@fontFamily: lato;

body {
  margin: 0;
  padding: 0;
  font-family: @fontFamily; 
}

.header {
  position: fixed;  
  top: 0;
  left: 0;
  height: 48px;
  width: 100%;
  background: rgba(0, 0, 0, 0.88);
  color: white;
  padding: 8px;
  text-align: center;
  font-size: 20px;
}

.footer {
  .header;
  top: auto;
  bottom: 0;
}

.rightPane {
  position: fixed;
  width: 160px;
  background :rgba(0, 0, 0, 0.8);
  min-height: calc(100% - 148px);
  color: white;
  top: 64px;
  left: 0;
  margin: 0;
  padding-top: 20px;
  li {
    color: white;
    list-style: none;
    line-height: 28px;
    transition: 300ms;
    cursor: pointer;

    a {
        text-decoration: none;
      color: white;
      &.active {
          color: lighten( blue, 30%);
      }
      &:hover {
        color: lighten(red, 20%);
      }
    }
  }
}

.leftPane {
    margin-left: 196px;
}

#content {
  position: fixed;
  top: 60px;
  padding: 0 20px;

  label >* {
    margin: 2px 4px;
  }
  .contentWrap {
    .viewContent {
      margin-left: 200px;
    }
  }
}

label span {
  min-width: 120px;
  display: block;
  float: left;
}
